body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, hsl(214, 27%, 65%), #03061a); /* Dégradé bleu clair vers bleu roi */
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
header {
    display: flex;
    justify-content: space-between; /* Pousse le logo à gauche et le nav à droite */
    align-items: center;            /* Aligne verticalement au milieu */
    padding: 20px 40px;             /* Marge interne pour ne pas coller aux bords */
}
nav {
    display: flex;
    gap: 15px;            /* Espace entre chaque bouton */
}
nav a {
    background-color: #007bff; /* Le bleu vif des boutons */
    color: white;              
    text-decoration: none;     
    padding: 12px 20px;        
    border-radius: 8px;        
    font-weight: bold;         
    text-transform: uppercase; 
    font-size: 14px;
    transition: background0.3s ease; 
}
.a:hover {
  background-color: #0056b3;
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    font-size: larger;
}
.grid-container {
    display: flex;
    justify-content: center;   /* center horizontally */
    gap: 25px;                 /* space between cards */
    flex-wrap: wrap;           /* responsive */
    padding: 40px;
}

.grid {
    width: 320px;              /* fixed width */
    height: 420px;             /* fixed height */
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}
footer{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-small;
}
div a{
    color: black;              
    text-decoration: none;     
}