body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, hsl(214, 27%, 65%), #03061a); /* Dégradé bleu clair vers bleu roi */
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
  margin-left: auto;
  display: flex;
  gap: 40px;
}
.a{
   display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.a:hover {
  background-color: #0056b3;
}
.email{
  color: white;
  text-decoration: none;
}
.img-contact{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  
}
.main-content {
  display: flex;
  gap: 40px;
  padding: 40px;
  color: white;
}

.contact {
  flex: 2;
}

.apropos {
  flex: 1;
  padding-left: 40px;
  border-left: 2px solid #ccc;
  color: white;
}
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .apropos {
    border-left: none;
    border-top: 2px solid #ccc;
    padding-left: 0;
    padding-top: 20px;
  }
}
.contact-grid div{
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
}
.logo-1 {
  padding-top: 40px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}