/* body {
  min-height: 100vh;
  margin: 0;

  background: linear-gradient(
    to bottom,
    #1e90ff 0%,
    #1e90ff 30%,
    #000000 70%,
    #000000 100%
  );
} */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, hsl(214, 27%, 65%), #03061a); /* Dégradé bleu clair vers bleu roi */
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
header {
    display: flex;
    justify-content: space-between; /* Pousse le logo à gauche et le nav à droite */
    align-items: center;            /* Aligne verticalement au milieu */
    padding: 20px 40px;             /* Marge interne pour ne pas coller aux bords */
}
nav {
    display: flex;
    gap: 15px;            /* Espace entre chaque bouton */
}
nav a {
    background-color: #007bff; /* Le bleu vif des boutons */
    color: white;              /* Texte en blanc */
    text-decoration: none;     /* Enlève le soulignement */
    padding: 12px 20px;        /* Taille interne du bouton */
    border-radius: 8px;        /* Coins arrondis */
    font-weight: bold;         /* Texte en gras */
    text-transform: uppercase; /* Force les majuscules */
    font-size: 14px;
    transition: background0.3s ease; /* Animation fluide au survol */
}
.a:hover {
  background-color: #0056b3;
}
.formation-card {
    background-color: #f4f6f9;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.formation-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.formation-card h3 {
    color: #0f2a47;
}

.formation-card ul {
    text-align: left;
    margin-left: 20px;
}

.formation-intro {
    margin-bottom: 40px;
    font-size: 16px;
    color: #333;
    text-align: left;
}
footer{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-small;
}
footer {
    text-align: center;
    padding: 40px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}