body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, hsl(214, 27%, 65%), #03061a); /* Dégradé bleu clair vers bleu roi */
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
  margin-left: auto;
  display: flex;
  gap: 40px;
}
a{
   display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.a:hover {
  background-color: #0056b3;
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
